.tapu-form-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 150px;
  }

  .tapu-form-container h1 {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: #4d4d4d;
    margin-bottom: 1rem;
}